/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Squada+One&display=swap');

* {
    font-family: "Poppins", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

img {
    width: 100%;
}

.container {
    max-width: 1070px;
    width: 100%;
    margin: auto;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 200;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    background: linear-gradient(to right, #e2aef4, #705eb4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
}

.cart-icon {
    position: relative;
    cursor: pointer;
}

.card-icon i {
    font-size: 24px;
}

.cart-icon span {
    position: absolute;
    top: -8px;
    right: -10px;
    background: #705eb4;
    color: #fff;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 50%;
}